<h1>Login</h1>
<form method="post" action="/sessions">
  Email: <input name="email" type="text">
  Password: <input name="pwd" type="password">
  <input type="submit" value="Log in" class="button">
</form>

