<h1>Login</h1>
<form method="post" action="/sessions">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required />
  <label for="password">Password:</label>
  <input type="password" name="pwd" id="password" required />
  <input type="submit" value="Report for Duty!" class="button">
</form>