/* Mobile First */

body {
	float: none;
	width: auto;
	background-color: #AF993C;
	font-family: sans-serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

header {
	background-color: #A1A838;
	color: white;
}

#logo {
	position: static;
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 1em 0;
}

header nav {
	background-color: #709C34;
	padding: 0.5em 0;
}

header nav ul {
	list-style: none;
	padding: 0.5em 0;
	display: inline;
}

header nav ul li {
	width: 20%;
	margin: 0 6%;
	text-align: center;
	display: inline-block;
	position: static;
}

header nav ul li a {
	color: #FFF2AA;
	font-size: 0.95em;
	padding: 5% 10%;
	text-decoration: none;
	display: inline-block;
}

header nav ul li a:active {
	color: white;
}

article {
	margin: 2%;
	font-size: 1.1em;
	margin-top: 1.8em;
	color: #3B5801;
	text-align: center;
}

#norms {
	display: none;
}

.landing-page {
	text-align: center;
}

article a {
	color: white;
	text-decoration: underline;
}

.decks {
	list-style: none;
	padding: 0;
	font-size: 1.4em;
}

.decks li {
	margin: 1em 0;
	padding: 1em 0;
}

.flashcard {
	background-color: #C4A200;
	color: black;
	width: 80%;
}

input, label {
	display: block;
	margin: 1em 0;
	color: black;
}

input {
	width: 15em;
	margin: 0.5em auto 2em auto;
}

input[type=submit] {
	background-color: #aaa;
	color: black;
	margin-top: 1.5em;
	padding: 0.3em;
	border: 0.1em solid black;
	border-radius: 0.4em;
	width: 10em;
}

input[type=submit]:hover {
	color: #3B5801;
}

.error {
	color: black;
}

.username {
	color: black;
	text-decoration: underline;
}

th, td {
	border: 0.1em solid black;
	padding: 0.1em 0.3em;
}

/* Desktop Second */

@media screen and (min-width: 800px) {

	header {
		position: static;
		text-align: left;
		border-bottom: 0.3em solid #709C34;
	}


	#logo {
		margin-left: 3%;
		float: left;
		z-index: 1;
		width: 50%;
		padding: 0;
	}

	header nav {
		position: relative;
		float: right;
		margin: 1.5% 1.5% 0 0;
		background-color: #A1A838;
	}

	header nav ul {
		position: relative;
		display: inline-table;
		margin: 0;
	}

	header nav ul li {
		float: left;
		margin: 0 1.4em;
		width: auto;
	}

	header nav ul li a {
		display: block;
		padding: 0.3em 0.55em;
		color: white;
		font-size: 1.1em;
		text-decoration: none;
	}

	header nav ul li a:hover {
		background-color: #ddd;
		border-radius: 0.3em;
	}

	header nav ul li a:hover {
		color: #553900;
	}

	article {
		margin: 2% 10% 0 10%;
		text-align: left;
	}

	article h1 {
		font-size: 2.5em;
	}

  .pagetitle {
  	text-align: center;
  }

	.landing-page {
		text-align: left;
	}

	#norms {
		display: block;
		width: 100%;
	}

	article a {
		color: white;
		text-decoration: none;
	}

	article a:hover {
		color: #3B5801;
	}

	.decks li {
		float: left;
		width: 30%;
		margin-right: 3%;
		padding: 0;
	}

	input {
		width: auto;
		margin: 0.5em 0 2em 0;
	}

}
