<!-- display user profile here -->

<h1>Welcome, <%= "#{@user[:username]}"%></h1>

  <p>Here's your stats: </p>

<table>
  <thead>
    <td></td>
  </thead>
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>
