<h1>Register</h1>
<form method="post" action="/users">
  Name: <input name="username" type="text">
  Email: <input name="email" type="text">
  Password: <input name="pwd" type="password">
  <input type="submit" value="Enlist!" class="button">
</form>

