<% if @guess.complete == true %>

  <h1>Good work, soldier!</h1>

<% else %>

  <h1>You’re a disgrace to the unit!</h1>
  <p>(The correct answer was "<%= @guess.card.answer %>")</p>

<% end %>

<% if @round.finished? %>

<form method="get" action="/rounds/<%= @round.id %>/cards">
  <input type="submit" value="Head to debriefing..." autofocus />
</form>

<% else %>

<form method="get" action="/rounds/<%= @round.id %>/cards">
  <input type="submit" value="Next..." autofocus />
</form>

<% end %>
