  <p> this is a card, stupid </p>

  <p> <%= @card.question %> <p>

  <form method="post" action="/guesses">
    <input name="round" type="hidden" value="<%= @round.id %>"/>
    <input name="card" type="hidden" value="<%= @card.id %>"/>
    <input name="guess" type="text" placeholder="make a guess!"/>

    <input type="submit" value="submit your guess, jabroni">
  </form>
</div>
