<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>The Flashcard Game</title>
</head>

<body>
  <header class="clearfix">
    <img src="/images/logo.png" id="logo" alt="Stormin' Normans Logo" />

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if session[:user_id] %> <!-- !is_guest? -->
          <li><a href="/users/<%= session[:user_id] %>">Profile</a></li>
          <li><a href="/logout">Sign Out</a></li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new">Sign In</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <article>
    <%= yield %>
  </article>
</body>

</html>
